= form_for category, html: { class: 'form-inline' } do |f|
  - if category.errors.any?
    #error_explanation.well.well-sm
      %p= "#{pluralize(category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - category.errors.full_messages.each do |msg|
          %li.text-danger= msg

  .form-group{ category.errors.any? ? {class: "has-error"} : {} }
    = f.label :name
    = f.text_field :name, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-default'
