%h1 
  Listing #{ category.name } products
  - if user_signed_in? && current_user.admin?
    = link_to new_category_product_path, class: 'btn btn-default btn-sm pull-right' do
      %span.glyphicon.glyphicon-plus
      Add new product

%hr

%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th Price
    %th Actions
    
  - category.products.each do |product|
    %tr
      %td= link_to product.title, category_product_path(product.category, product)
      %td= product.description
      %td= number_to_currency(product.price, unit: '$')
      %td
        %div{ :class => 'btn-group', :role => 'group' }
          = link_to edit_category_product_path(product.category, product), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
            Edit
          = link_to category_product_path(product.category, product), 
          method: :delete, 
          data: { confirm: 'Are you sure?' }, 
          class: 'btn btn-danger btn-xs' do
            %span.glyphicon.glyphicon-trash
            Delete
